html {
    height: 100%;
}

body {
    background-color: #00BffF;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    font-family: sans-serif;
}

.main-container {
    background: white;
    width: 500px;
}

.twitts-container {
    margin-top: 30px;
    padding: 0px 10px;
}

.twitt {
    border: 1px solid #8080802e;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

    .twitt p {
        margin: 0 0 5px 0;
        text-transform: capitalize;
    }

    .twitt img {
        max-height: 70px;
    }

.add-new-twitt-form {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    background: #c6d1da42;
}

    .add-new-twitt-form input[type="submit"] {
        width: 150px;
        padding: 10px;
        border: none;
        background: #1aa51a;
        color: white;
        text-transform: capitalize;
        letter-spacing: 0.5px;
        font-weight: bold;
        margin-top: 10px;
    }

    .add-new-twitt-form h3{
        margin: 0 0 20px 0;
    }

    .add-new-twitt-form .input-block {
        display: flex;
        margin-bottom: 10px;
    }

        .add-new-twitt-form .input-block label {
            display: block;
            width: 100px;
        }
.channels-container{

}
.channel{
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.menu-item {
    width: 25%;
    text-align: center;
    padding: 10px 0;
    background: #5c6b94;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
    .menu-item.active {
        background: white;
        color: #5c6b94;
        cursor: default;
    }